<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--引入外部的db.properties-->
    <properties resource="db.properties"/>
<!--    <settings>-->
<!--&lt;!&ndash; 开启驼峰映射&ndash;&gt;-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--    </settings>-->
<!--    设置别名-->
    <typeAliases>
<!--        第一种-->
<!--        <typeAlias type="mybatis.pojo.User" alias="User"/>-->
<!--        第二种 默认实体的类名就是别名，大小写不区分-->
        <package name="mybatis.pojo"/>
    </typeAliases>
    <!--设置连接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
<!--        <mapper resource="mybatis/mapper/UserMapper.xml"/>-->
        <package name="mybatis.mapper"/>
    </mappers>
</configuration>